<div class="flex flex-col items-center mt-4">
  <h1 class="text-2xl">Precificar curso na Hotmart</h1>

  <div class="flex justify-around gap-4">
    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
    >
      <legend class="fieldset-legend">Valores</legend>

      <div>
        <label>Valor cobrado</label>
        <label class="input">
          <div>R$</div>
          <input
            type="number"
            [formField]="form.valorCobrado"
            placeholder="Valor cobrado"
          />
        </label>
      </div>

      <div class="mt-2">
        <label class="label">Valor desconto</label>
        <label class="input">
          <input
            type="number"
            [formField]="form.valorDesconto"
            placeholder="Valor desconto"
          />
          <div>%</div>
        </label>
      </div>

      <label class="label mt-2">
        <input
          type="checkbox"
          checkbox-xs
          class="checkbox"
          [formField]="form.clientePagaTaxaDeParcelamento"
        />
        Cliente paga taxa de parcelamento
      </label>
    </fieldset>

    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
    >
      <legend class="fieldset-legend">Impostos</legend>

      <div>
        <label class="label">Taxa de aliquota</label>
        <label class="input">
          <input
            type="number"
            [formField]="form.taxaAliquota"
            placeholder="Taxa de aliquota"
          />
          <div>%</div>
        </label>
      </div>
    </fieldset>

    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
    >
      <legend class="fieldset-legend">Taxas da Hotmart</legend>

      <div>
        <label class="label">Taxa de parcelamento em 12x</label>
        <label class="input">
          <input
            type="number"
            class=""
            [formField]="form.taxaParcelamentoEm12x"
            placeholder="taxa de parcelamento em 12x"
          />
          <div>%</div>
        </label>
      </div>

      <div>
        <label class="label">Taxa de intermediação</label>
        <label class="input">
          <input
            id="taxaIntermediacao"
            type="number"
            class=""
            [formField]="form.taxaIntermediacao"
            placeholder="taxa de intermediação"
          />
          <div>%</div>
        </label>
      </div>

      <div>
        <label class="label">Taxa de licença exclusiva</label>
        <label class="input">
          <input
            type="number"
            class=""
            [formField]="form.taxaLicenca"
            placeholder="taxa de licença exclusiva"
          />
          <div>%</div>
        </label>
      </div>

      <div>
        <label class="label">Taxa de player unico</label>
        <label class="input">
          <div>R$</div>
          <input
            id="taxaPlayerUnico"
            type="number"
            [formField]="form.taxaPlayerUnico"
            placeholder="Taxa de player unico"
        /></label>
      </div>
    </fieldset>
  </div>

  <div class="flex justify-around gap-4">
    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
    >
      <legend class="fieldset-legend">Valores cobrados</legend>

      <div>
        <label class="label">Total cobrado com desconto:</label>
        <label class="input text-info">
          <input
            disabled
            [value]="valorCobradoMenosDesconto() | currency: 'BRL'"
          />
        </label>
      </div>

      <div>
        <label class="label">Valor de cada parcela em 12x:</label>
        <label class="input text-info">
          <input disabled [value]="valorParcelaEm12x() | currency: 'BRL'" />
        </label>
      </div>
    </fieldset>

    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
    >
      <legend class="fieldset-legend">Valores líquidos a receber</legend>

      <div>
        <label class="label">À vista:</label>
        <label class="input text-success">
          <input
            disabled
            [value]="valorLiquidoRecebidoAVista() | currency: 'BRL'"
          />
        </label>
      </div>

      <div>
        <label class="label">Em 12x:</label>
        <label class="input text-success">
          <input
            disabled
            [value]="valorLiquidoRecebidoEm12x() | currency: 'BRL'"
          />
        </label>
      </div>
    </fieldset>
  </div>
</div>
