<div class="layout">
  <h1>Precificar curso na Hotmart</h1>

  <div class="container">
    <div class="container-item">
      <fieldset>
        <legend>Valores</legend>
        <div>
          <div>
            <label for="valorCobradoControl">Valor cobrado</label>
          </div>
          R$<input
            id="valorCobradoControl"
            type="number"
            [formControl]="valorCobradoControl"
          />
        </div>

        <br />

        <div>
          <div>
            <label for="valorDescontoControl">Valor desconto</label>
          </div>
          <input
            id="valorDescontoControl"
            type="number"
            [formControl]="valorDescontoControl"
          />%
        </div>
      </fieldset>

      <br />

      <fieldset class="container-item">
        <legend>Taxas</legend>
        <div>
          <div>
            <label for="taxaParcelamentoEm12x"
              >Taxa de parcelamento em 12x</label
            >
          </div>
          <input
            id="taxaParcelamentoEm12x"
            type="number"
            [formControl]="taxaParcelamentoEm12xControl"
          />%
        </div>

        <br />

        <div>
          <div>
            <label for="taxaIntermediacao">Taxa de intermediação</label>
          </div>
          <input
            id="taxaIntermediacao"
            type="number"
            [formControl]="taxaIntermediacaoControl"
            placeholder="taxa de intermediação"
          />%
        </div>

        <br />

        <div>
          <div>
            <label for="taxaLicenca">Taxa de licença exclusiva</label>
          </div>
          R$<input
            id="taxaLicenca"
            type="number"
            [formControl]="taxaLicencaControl"
            placeholder="taxa de licença"
          />
        </div>

        <br />

        <div>
          <div>
            <label for="taxaPlayerUnico">Taxa de player unico</label>
          </div>
          R$<input
            id="taxaPlayerUnico"
            type="number"
            [formControl]="taxaPlayerUnicoControl"
            placeholder="player de pagamento único"
          />
        </div>
      </fieldset>
      I

      <br />

      <div>
        <strong>Total a ser cobrado:</strong>
        {{ valorCobradoControl.value | currency : "BRL" }}
      </div>

      <div>
        <strong>Total desconto:</strong> {{ valorDescontoControl.value }}%
      </div>

      <br />

      <div>
        <strong> Total cobrado com desconto: </strong>
        {{ valorCobradoMenosDesconto() | currency : "BRL" }}
      </div>

      <div>
        <strong> Valor de cada parcela em 12x: </strong>
        {{ valorDeCadaParcela() | currency : "BRL" }}
      </div>

      <br />

      <div>
        <strong> Total líquido a receber à vista: </strong>
        {{ valorLiquidoRecebidoAVista() | currency : "BRL" }}
      </div>

      <div>
        <strong> Total líquido a receber parcelado em 12x: </strong>
        {{ valorLiquidoRecebidoEm12x() | currency : "BRL" }}
      </div>
    </div>
  </div>
</div>
